.chatBlock {
  background-color: #fff;
  height: 300px;
  border-radius: 3px;
  padding: 10px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #CECECE;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #40a9ff;
  }

  &.chatDark {
    background-color: #000;
  }
}
